.LandingPage {
  height: 100vh;
}



.roof {
  position: absolute;
  z-index: 3;
  width: 0;
  height: 60vh;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 40vh solid black;
}

.attic {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 60vh;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 40vh solid white;
}

.attic-window {
  position: absolute;
  z-index: 4;
  left: calc(50% - 5vw);
  bottom: 9vh;
  background-color: white;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.attic-window_vertical-bar {
  position: absolute;
  left: calc(50% - 0.5vw);
  height: 10vw;
  width: 1vw;
  background-color: black;
}

.attic-window_horizontal-bar {
  position: absolute;
  top: calc(50% - 0.5vw);
  height: 1vw;
  width: 10vw;
  background-color: black;
}